.root {
  min-inline-size: 30rem;
  max-block-size: 30rem;
  padding: 1rem;
  overflow: auto;
}

.title {
  margin-block-end: 1rem;
  border-block-end: 1px solid var(--separator-color);
}

.table {
  inline-size: 30rem;
  border-spacing: 0;
  border-collapse: collapse;
}

.propName {
  inline-size: 5rem;
  padding-inline-end: 1rem;
  font: inherit;
  text-align: start;
}

.propValue {
  inline-size: 7rem;
  padding-inline-end: 1rem;
  font: inherit;
  text-align: start;
}

.propTitle {
  overflow: hidden;
  font: inherit;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input {
  display: block;
  inline-size: 100%;
  border: none;
  background: none;
  outline: none;
}

.input:focus {
  border: none;
  outline: 1px solid var(--separator-color);
}
