.root {
  max-inline-size: 15rem;
  font-family: serif;
  font-size: 80%;
}

.root > :first-child {
  margin-block-start: 0;
}

.root > :last-child {
  margin-block-end: 0;
}

.selected {
  outline: 1px solid #0000ff;
}
