.root {
  max-inline-size: 20rem;
  font-family: "Spectral", serif;
  font-size: 14px;
}

.root > :first-child {
  margin-block-start: 0;
}

.root > :last-child {
  margin-block-end: 0;
}

.root :where(h1, h2, h3, h4, h5, h6, p) {
  margin: 1rem 0;
  overflow-wrap: break-word;
}

.root :where(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
}

.root :where(p) {
  text-wrap: pretty;
}

.root[data-h-align="l"] :where(h1, h2, h3, h4, h5, h6, p) {
  text-align: start;
}

.root[data-h-align="c"] :where(h1, h2, h3, h4, h5, h6, p) {
  text-align: center;
}

.root[data-h-align="r"] :where(h1, h2, h3, h4, h5, h6, p) {
  text-align: end;
}
