.root {
  max-block-size: 30rem;
  padding: 1rem;
  overflow: auto;
}

.empty {
  text-align: center;
}

.title {
  margin-block-end: 1rem;
  border-block-end: 1px solid var(--separator-color);
}

.prop {
  display: flex;
  border-block-end: 1px solid var(--separator-color);
}

.propName {
  flex: 1;
  color: #000000;
  font-family: serif;
  font-style: italic;
}

.propValue {
  color: #000000;
}

.propTitle {
  font-size: 80%;
}
