@import "../styles/reset.css";
@import "../styles/typography.css";

.App {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.App__editor {
  position: absolute;
  left: 0;
  right: 40rem;
  top: 0;
  bottom: 0;
}

.App__result {
  position: absolute;
  width: 40rem;
  right: 0;
  top: 0;
  bottom: 0;
  border-left: 1px solid #999;
}
