.Result {
  font-family: monospace;
  padding: 1rem;
}

.Result__ok {
}

.Result__error {
}

.OpTable {
  border: none;
  border-collapse: collapse;
}

.OpTable_row {
  border-bottom: 1px dotted gray;
}

.OpTable__deviceId {
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: normal;
}

.OpTable__name {
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: normal;
}

.OpTable__value {
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;
}

.ErrorMessage {
  color: red;
}
